body {
    background-color: #ffffff;
    position: relative;
    padding-top: 20px;
    color: black;
    }
    .navbar {
    background-color: #e3f2fd;
    position: fixed;
    top: 0;
    width: 100%;
    color: #ffffff;
    z-index: 999;
    
}
.collapse navbar-collapse {
    color: #ffffff;
}
.navbar li a .navbar .navbar-brand {
    color: white;
}
.navbar-brand .nav-link .nav-item {
    color: #ffffff;
}

.navbar-light .navbar-brand {
    color: #ffffff;
}
#Home {
    background-color: #e3f2fd;
    text-align: center;
}
.img-thumbnail{
  height: 250px;
  }
  #About {
      border-top: 70px solid #fff;
  }
  #Contact {
      border-top: 60px solid #fff;
      background-color: #e3f2fd;
      }
      
          
      
  form {
  background-color: #e3f2fd;
  padding: 20px 25px;
  margin: auto;
  margin-top: 30px;
  box-shadow: 0px 1px 2px rgba(0,0,0,0.2);
}
form input,
form textarea {
  font: inherit;
  padding: 5px 5px;
  width: 100%;
  margin-top: 3px;
  margin-bottom: 15px;
  box-sizing: border-box;
}
form button {
  border: 1px solid rgba(0,0,0,0.2);
  padding: 8px 35px;
  font-size: 20px;
  background: #888;
  color: white;
}
form label {
  color: #777;
  font-size: 20px;
  margin-bottom: 2px;
  display: block;
}
footer {
  background-color: #e3f2fd;
  color: black;
  border-top: 60px solid #fff;
}

#map {
  height: 500px;
  border-top: 70px solid #fff;
}

#description {
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
}

#infowindow-content .title {
  font-weight: bold;
}

#infowindow-content {
  display: none;
}

#map #infowindow-content {
  display: inline;
}

.pac-card {
  margin: 10px 10px 0 0;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  background-color: #fff;
  font-family: Roboto;
}

#pac-container {
  padding-bottom: 12px;
  margin-right: 12px;
}

.pac-controls {
  display: inline-block;
  padding: 5px 11px;
}

.pac-controls label {
  font-family: Roboto;
  font-size: 20px;
  font-weight: 300;
}

#pac-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 25px;
  font-weight: 300;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 300px;
}

#pac-input:focus {
  border-color: #4d90fe;
}

#title {
  color: #fff;
  background-color: #4d90fe;
  font-size: 25px;
  font-weight: 500;
  padding: 6px 12px;

}
@media (min-width: 766px) { 
   h5 {
      font-weight: bold;
      
  }
  #organizer {
    font-size: 20px;
  } 
  .youth {
     font-size: 20px;
  }
   .nav-item  {
    font-weight: bold;
  }
  #myform {
    
    font-weight: bold;
  }
  #pac-input {
    width: 400px;
    font-size: 30px;
  }
}